@import url('./styles/null.css');
@import url('./styles/fonts.css');
@import url('./styles/theme.css');

/* Media */

@media (min-width: 1920px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1680px) and (max-width: 1919px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1440px) and (max-width: 1679px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    body {
        font-size: 10px;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    body {
        font-size: 8px;
    }
}

@media (min-width: 720px) and (max-width: 959px) {
    body {
        font-size: 6px;
    }
}

@media (min-width: 480px) and (max-width: 719px) {
    body {
        font-size: 4px;
    }
}

@media (max-width: 479px) {
    body {
        font-size: 3px;
    }
}


/* Header */

header {
    display: flex;
    padding: 0 var(--content-h-padding);
    height: 5.2vw;
    max-height: 100px;
}

header .logo {
    position: relative;
    padding: 0 0.855%;
    width: 17.09%;
    background-color: var(--cyan);
}

nav {
    margin-left: auto;
    width: 47.01%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 2.45%;
    height: 100%;
}

nav li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.9275em;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
}

nav li.underline-red::after {
    top: 95%;
    height: 5%;
}

header .contact {
    display: flex;
    align-items: center;
    padding: 2.56%;
    width: 18.8%;
    border-right: var(--border);
    border-left: var(--border);
}

header .contact .phone-icon {
    margin-right: 9.375%;
    width: 14.375%;
}

header .contact .info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 0.875em;
    color: var(--gray-lighter-1);
}

header .contact .number {
    font-size: 1.125em;
    font-family: "Roboto";
    color: var(--red);
    font-weight: 700;
}

header .search {
    padding: 2.56%;
    width: 6.92%;
    border-right: var(--border);
}


/* About */

section.about {
    position: relative;
    padding: 0 var(--content-h-padding);
    height: 41.67vw;
    max-height: 800px;
    background: url("./src/images/about/main.png");
    background-size: cover;
}

section.about .block {
    position: absolute;
    top: 39.375%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 34.635%;
    height: 36.875%;
}

section.about .info {
    font-size: 1.125em;
    color: #fff;
    line-height: 2;
    text-shadow: var(--text-shadow);
}

section.about .buttons {
    display: flex;
    justify-content: space-between;
    width: 57.14%;
}


/* Other */

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    font-family: "Roboto";
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.link {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.underline-red::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.52vw;
    max-height: var(--underline-max-height);
    background-color: var(--red);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.85vw;
    max-width: 170px;
    height: 2.34vw;
    max-height: 45px;
    background-color: var(--cyan);
    border-radius: var(--border-radius);
    box-shadow: var(--item-box-shadow);
    text-transform: uppercase;
    font-weight: 700;
}

.btn-danger {
    background-color: var(--red);
    color: #fff;
}

.btn-danger-inv {
    background-color: #fff;
    color: var(--red);
}

.btn-info {
    background-color: var(--cyan);
    color: #fff;
}

.btn-info-inv {
    background-color: #fff;
    color: var(--cyan);
}