@import url('./styles/null.css');
@import url('./styles/fonts.css');
@import url('./styles/theme.css');

/* Media */

@media (min-width: 1920px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1680px) and (max-width: 1919px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1440px) and (max-width: 1679px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    body {
        font-size: 10px;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    body {
        font-size: 8px;
    }
}

@media (min-width: 720px) and (max-width: 959px) {
    body {
        font-size: 6px;
    }
}

@media (min-width: 480px) and (max-width: 719px) {
    body {
        font-size: 4px;
    }
}

@media (min-width: 360px) and (max-width: 479px) {
    body {
        font-size: 3px;
    }
}

@media (max-width: 359px) {
    body {
        font-size: 2px;
    }
}


/* Header */

header {
    display: flex;
    padding: 0 var(--content-h-padding);
    height: 5.2vw;
    max-height: 100px;
}

header .logo {
    position: relative;
    padding: 0 0.855%;
    width: 17.09%;
    background-color: var(--cyan);
}

nav {
    margin-left: auto;
    width: 47.01%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 2.45%;
    height: 100%;
}

nav li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.9275em;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
}

nav li.underline-red::after {
    top: 95%;
    height: 5%;
}

header .contact {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2.56%;
    width: 18.8%;
    border-right: var(--border);
    border-left: var(--border);
}

header .contact .phone-icon {
    margin-right: 9.375%;
    width: 14.375%;
}

header .contact .info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 0.875em;
    color: var(--gray-lighter-1);
}

header .contact .number {
    font-size: 1.125em;
    font-family: "Roboto";
    color: var(--red);
    font-weight: 700;
}

header .search {
    position: relative;
    padding: 2.56%;
    width: 6.92%;
    border-right: var(--border);
}


/* About */

section.about {
    position: relative;
    padding: 0 var(--content-h-padding);
    height: 41.67vw;
    max-height: 800px;
    background: url("./src/images/about/main.png");
    background-size: cover;
}

section.about .block {
    position: absolute;
    top: 39.375%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 34.635%;
    height: 36.875%;
}

section.about .info {
    font-size: 1.125em;
    color: #fff;
    line-height: 2;
    text-shadow: var(--text-shadow);
}

section.about .buttons {
    display: flex;
    justify-content: space-between;
    width: 57.14%;
}


/* Info */

section.welcome {
    position: relative;
    display: flex;
    padding: 0 var(--content-h-padding);
    height: 36.56vw;
    max-height: 702px;
    background-color: var(--gray-lighter-3);
}

section.welcome .img-man {
    transform: translateX(-11.29%);
    display: flex;
    flex-shrink: 0;
    align-items: end;
    margin-right: 10.68%;
    width: 26.5%;
}

section.welcome .cards {
    padding: 8.55% 0;
    flex-grow: 1;
    width: 65.81%;
}

section.welcome .cards ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.26%;
    height: 100%;
}

section.welcome .card {
    display: flex;
    padding: 15.625% 11% 9.115% 7.81%;
}

section.welcome .card .icon {
    align-items: start;
    flex-shrink: 0;
    margin-right: 9.25%;
    width: 10.49%;
}

section.welcome .card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Myriad Pro";
    color: var(--blue-lighter-1);
    line-height: 1.5;
    word-break: break-all;
}

section.welcome .head {
    position: absolute;
    right: 0;
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    width: var(--content-h-padding);
    height: 100%;
}

section.welcome h2 {
    transform: rotate(90deg);
    font-size: 2.5em;
    color: var(--gray-lighter-2);
    white-space: nowrap;
}


/* Contact Us */

section.contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--content-h-padding);
    height: 5.2vw;
    max-height: 100px;
    background-color: var(--cyan);
}

section.contact-us .info {
    font-size: 1.375em;
    color: #fff;
}


/* Our Clients */

section.our-clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.2% var(--content-h-padding);
    height: 55.26vw;
    max-height: 1061px;
}

section.our-clients>.title {
    display: flex;
    justify-content: space-between;
    height: 7.085%;
}

section.our-clients .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9275em;
    color: var(--blue-lighter-1);
}

section.our-clients .tabs {
    width: 45.81%;
}

section.our-clients .tabs ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

section.our-clients .tab {
    position: relative;
    color: var(--blue);
    font-weight: 700;
}

section.our-clients .tab .regular {
    font-weight: 400;
}

section.our-clients .tab a::after {
    height: 27.78%;
    top: 170%;
}

section.our-clients .cards {
    margin-top: 2.14%;
    height: 73.17%;
}

section.our-clients .cards ul {
    display: grid;
    grid-template-columns: 27fr 27fr 57fr;
    grid-template-rows: 265fr 70fr 265fr;
    grid-gap: 4.76% 2.56%;
    height: 100%;
}

section.our-clients .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22.22%;
}

section.our-clients .card .image {
    max-height: 62%;
}

section.our-clients .card .hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--cyan);
    opacity: 0.651;
}

section.our-clients .card .hover .content {
    position: absolute;
    top: 37.71%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48.85%;
    text-align: center;
}

section.our-clients .card .hover .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 6.45vw;
    max-width: 124px;
    max-width: 124px;
    height: 27.95%;
}

section.our-clients .card .hover .btn {
    display: flex;
    padding: 7.75%;
    width: 36.29%;
    background-color: #fff;
    box-sizing: border-box;
}

section.our-clients .card .hover .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26.09%;
    font-size: 0.9275em;
    color: #fff;
}

section.our-clients .card .hover .title {
    font-size: 1.125em;
    font-weight: 700;
}

section.our-clients .card:hover .hover {
    z-index: 1;
}

section.our-clients .card:first-of-type {
    grid-row: 1 / 3;
    background-color: var(--card-0);
}

section.our-clients .card:nth-of-type(2) {
    grid-row: 1 / 3;
    background-color: var(--card-1);
}

section.our-clients .card:nth-of-type(3) {
    background-color: var(--card-2);
}

section.our-clients .card:nth-of-type(4) {
    grid-column: 1 / 3;
    background-color: var(--card-3);
}

section.our-clients .card:last-of-type {
    grid-row: 2 / -1;
    background-color: var(--card-4);
}

section.our-clients .contact-us .btn {
    margin: 0 auto;
}


/* Other */

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    font-family: "Roboto";
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.link {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.underline-red::after,
.underline-gray::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: var(--underline-max-height);
}

.underline-gray::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.52vw;
    max-height: var(--underline-max-height);
}

.underline-red::after {
    background-color: var(--red);
}

.underline-gray::after {
    background-color: var(--gray-lighter-3);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.85vw;
    max-width: 170px;
    height: 2.34vw;
    max-height: 45px;
    background-color: var(--cyan);
    border-radius: var(--border-radius);
    box-shadow: var(--item-box-shadow);
    text-transform: uppercase;
    font-weight: 700;
}

.btn-danger {
    background-color: var(--red);
    color: #fff;
}

.btn-danger-inv {
    background-color: #fff;
    color: var(--red);
}

.btn-info {
    background-color: var(--cyan);
    color: #fff;
}

.btn-info-inv {
    border: 0.0625vw solid var(--cyan);
    background-color: #fff;
    color: var(--cyan);
}

.card {
    background-color: #fff;
    box-shadow: var(--item-box-shadow);
}